
.user-nav {
    background-color: #fff;
    padding: 15px 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.user-nav a {
    color: #525252;
    font-weight: 600;
    margin-right: 30px;
    text-decoration: none;
    height: 100%;
}

.user-nav a:hover {
    color: #4717F6;
    border-bottom: 3px solid #4717F6;
}

.user-nav button{
    width: 100px;
    height: 35px;
    background-color: #4717F6;
    color: #fff;
    font-weight: 700;
    border-radius: 5px;
    border: none;
}

.user-nav button:hover {
    background-color: #3a12c9;
    cursor: pointer;
}

.property-select-page {
    text-align: center;
    padding-top: 30px;
    height: 90vh;
}